body {
  padding: 36px 156px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.87);
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  font-weight: 600;
}
button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  border-radius: 8px;
  padding: 8px 16px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  color: #fff;
}
.button-start {
  width: 75px;
}
button:hover {
  background: #6c8cff;
}
button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

.user-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  margin-right: 8px;
  margin-bottom: 32px;
  background-color: transparent;
  outline: transparent;
}

.user-input:hover {
  border: 1px solid #000;
}
.user-input:focus {
  border: 1px solid #4e75ff;
}

.value {
  font-size: 40px;
  line-height: 1.2;
}
.label {
  text-transform: uppercase;
}
.timer {
  display: flex;
  gap: 24px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*styles for  snackbar */
.form {
  max-width: 360px;
  display: flex;
  flex-direction: column;
}

.delay-input {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  margin-bottom: 16px;
  margin-top: 8px;
}

.delay-input:hover {
  border-color: #000;
}
.delay-input:focus {
  border-color: #4e75ff;
}

fieldset {
  display: flex;
  justify-content: center;
  gap: 48px;
  min-width: 272px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 17px 48px 8px 48px;
  margin: 0;
  margin-bottom: 24px;
}
fieldset:hover,
fieldset:focus {
  border-color: #000;
}
[name='state'] {
  border: 1px solid #757575;
  border-radius: 14px;
  width: 20px;
  height: 20px;
}

fieldset label {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

[type='submit'] {
  width: 360px;
}
